<nav id="global-nav">
    <a id="nav-logo" href="/">
        <h3>rabble*</h3>
    </a>
    <input id="nav-global-search" type="text" placeholder="search rabble*" />
    
    <div id="sign-in">
        <div id="nav-sign-in">
            
        </div>
        <div id="sort">
            <div id="sort-button">
            <p>account</p>
            <img src="{{user.profileImg}}" class="button-svg" id="sort-dropdown">
            </div>
            <div id="sort-dropdown-menu">
                <a class="dropdown-option" href="./edit-profile/edit-profile.html">
                    <p>edit profile</p>
                </a>
                <a class="dropdown-option" href="./login/login.html">
                    <p>logout</p>
                </a>
            </div>
        </div>
    </div>
</nav>