<nav id="global-nav">
    <a id="nav-logo" href="/home">
        <h3>rabble*</h3>
    </a>
    <div id="nav-global-search">
        <img src="/svg/search.svg" class="button-svg" id="search-icon" />
        <form id="nav-global-search-input-container" method="get" action="/search">
            <input id="nav-global-search-input" type="text" name="q" placeholder="Search rabble*" />
            <input type="submit", style="display: none" />
        </form>
        </input>
    </div>
</nav>