<div id="main-content">
	<div id="post-container">
		<div id="main-content">
			<div class="post">
				<div class="post-info-controls">
					<hgroup class="post-info">
						<ul class="post-tags"></ul>
						<div class="post-user-container">
							<div class="post-user-icon"></div>
							<a class="post-user" href="">@{{ post.postCreator }}</a>
						</div>
						<a class="post-link" href="">
							<h3 class="post-title">{{ post.title }}</h3>
						</a>
						<p class="post-description"></p>
					</hgroup>
					<div class="post-controls-container">
						<div class="post_votes">
							<p class="vote-counter">{{ post.votes }} votes</p>
						</div>
						<div class="post-controls">
							<div class="post-control-button upvote-button">
								<img class="post-icon upvote-icon button-svg" src="/svg/chevron-up-svgrepo-com.svg">
								<p>upvote</p>
							</div>
							<div class="post-control-button downvote-button">
								<img class="post-icon downvote-icon button-svg" src="/svg/chevron-down-svgrepo-com.svg">
								<p>downvote</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="comments-section">
		<h2>Comments</h2>
		<div id="comment-creator">
			<input type="text" id="comment-box" placeholder="say something about the post"></input>
			<button id="comment-send">Send</button>
		</div>
	</div>
</div>