<div id="sidebar">
    <a id="home" class="sidebar-option" href="/">
        <img src="/svg/home.svg" class="button-svg"></img>
        <p>Home</p>
    </a>
    <a id="tags" class="sidebar-option" href="/tags">
        <img src="/svg/hashtag.svg" class="button-svg"></img>
        <p>Tags</p>
    </a>
    <hr/>

    <a id="account" class="sidebar-option" href="/user/profile">
        <img src="{{loggedUser.profileImg}}" class="" />
        <p>@{{loggedUser.username}}</p>
    </a>
    <a id="account" class="sidebar-option" href="/user/profile">
        <p>Edit profile</p>
    </a>
    <a id="account" class="sidebar-option" href="/account/login">
        <p>Log out</p>
    </a>
</div>