<div id="sidebar">
    <a id="home" class="sidebar-option active-sidebar-option" href="/">
        <img src="/svg/home-svgrepo-com.svg" class="button-svg"></img>
        <p>Home</p>
    </a>
    <a id="tags" class="sidebar-option" href="/tags">
        <img src="/svg/hashtag-svgrepo-com.svg" class="button-svg"></img>
        <p>Tags</p>
    </a>

    <div id="pagination-control" class="sidebar-option">
        <div id="previous" class="pagination-control-link">
            <p>
                Previous
            </p>
        </div>
        <div id="next" class="pagination-control-link">
            <p>
                <a href="index2.html">
                    Next
                </a>
            </p>
        </div>
    </div>
</div>