@import "global.css";

#nav-sign-in {
    display: flex;
    height: 60%;
}

.nav-sign-in-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    width: 5vw;
    min-width: fit-content;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.nav-sign-in-buttons:hover {
    cursor: pointer;
}

.nav-sign-in-buttons a {
    text-decoration: none;
    color: var(--fg-main);
}

#nav-login-button {
    border: 1px solid var(--border-dark);
}

#nav-login-button:hover {
    border: var(--fg-main);
    background-color: var(--fg-main);
    color: var(--bg-main);
}

/* invert colors when hovering over login button. */
#nav-login-button:hover > a {
    color: var(--bg-main);
}

#nav-register-button {
    background-color: var(--accent-dark);
}

#nav-register-button:hover {
    background-color: var(--accent-light);
}

#nav-register-button a {
    color: var(--bg-main);
}

/* main part of site */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* post styling */
.post-container {
    width: 50vw;
    color: var(--fg-main);
    text-decoration: none;
    border-bottom: 1px solid var(--border-light);
}

.post {
    width: 100%;
    min-height: fit-content;
    padding: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.post-info-controls {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.post-tags {
    padding: 0;
    margin: 0;
    color: var(--fg-secondary);
}

.post-tags li {
    display: inline;
}

.post-tags li:hover {
    color: var(--fg-main);
}

.post-title {
    user-select: text;
    margin-bottom: -8px;
}

.post-controls-container {
    display: flex;
    flex-direction: row;
}

.post-votes {
    padding-right: 1em;
}

.vote-counter {
    color: var(--fg-secondary);
}

.post-controls {
    display: flex;
    align-content: start;
}

.post-controls p {
    padding-right: 1em;
}

.upvote-button:hover {
    color: var(--accent-light);
}

.downvote-button:hover {
    color: var(--downvote);
}

.post-thumbnail {
    background-color: var(--bg-secondary);
    width: 10%;
    min-width: 80px;
    aspect-ratio: 1;
    border-radius: 8px;
    align-self: center;
    background-size: cover;
}

#pagination-control {
    display: flex;
    flex-direction: row;
}

.pagination-control-link {
    padding: 0.5em;
}

.accent-span {
    color: var(--accent-light);
    font-weight: bold;
}

#next p a {
    color: var(--accent-dark);
}

.post-icon {
    width: 1em;
    aspect-ratio: 1;
    margin-bottom: -2px;
    padding: 0 0.5em;
}