<!DOCTYPE html>
<html>
    <head>
        <title>Create post</title>
        {{>font}}
        <link rel="shortcut icon" href="/svg/rabble-favicon.svg">
        <link rel="stylesheet" href="/common/global.css">
        <link rel="stylesheet" href="/common/sidebar.css">
        <link rel="stylesheet" href="/common/create_post.css">
    </head>
    <body>
        {{>navbar}}
        {{>sidebar}}
        {{{body}}}
    </body>
</html>