<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Profile</title>

        <link rel="stylesheet" href="/common/edit-image.css">
        <link rel="stylesheet" href="/common/edit-form.css">
        {{>font}}
    </head>

    <body>
        {{{body}}}

        <script src="/common/edit-profile.js"></script>
    </body>
</html>