<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Profile</title>

        <link rel="stylesheet" href="/edit-image.css">
        <link rel="stylesheet" href="/edit-form.css">
    </head>

    <body>
        {{{body}}}
    </body>
</html>