<!DOCTYPE html>
<html>
    <head>
        <title>edit your post</title>
        {{>font}}
        <link rel="stylesheet" href="/common/global.css">
        <link rel="stylesheet" href="/common/post_editor.css">
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
    </body>
</html>