<!DOCTYPE html>
<html>
    <head>
        <title>{{ pageTitle }}</title>
        <link rel="shortcut icon" href="/svg/rabble-favicon.svg">
        <link rel="stylesheet" href="/common/main_page.css">
        <link rel="stylesheet" href="/common/sidebar.css">
        <script src="/common/dropdown.js"></script>

        {{>font}}
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
    </body>
</html>