<!DOCTYPE html>
<html>
    <head>
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="/common/main_page.css">
        <script type="module" src="/models/test-data.js"></script>
        <script type="module" src="/common/index.js"></script>
        <script type="module" src="/common/main_page.js"></script>

        <!-- main font (inter) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
    </body>
</html>