<!DOCTYPE html>
<html>
    <head>
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="/common/main_page.css">
        <link rel="stylesheet" href="/common/sidebar.css">
        <script type="module" src="/common/main_page.js"></script>

        {{>font}}
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
    </body>
</html>