<!DOCTYPE html>
<html>
    <head>
        <title>Log In to rabble*</title>
        
        <link rel="shortcut icon" href="/svg/rabble-favicon.svg">
        <link rel="stylesheet" href="/common/loginRegister.css">
        <script src="/common/login.js"></script>

        {{>font}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>