<!DOCTYPE html>
<html>
    <head>
        <title>{{query}} - rabble* search</title>

        <link rel="shortcut icon" href="/svg/rabble-favicon.svg">
        <link rel="stylesheet" href="/common/main_page.css">
        <link rel="stylesheet" href="/common/sidebar.css">
        <link rel="stylesheet" href="/common/search.css">

        {{>font}}
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
    </body>
</html>