<!DOCTYPE html>
<html>
    <head>
        <title>rabble* - {{tag}}</title>
        <link rel="stylesheet" href="/common/main_page.css">
        <link rel="stylesheet" href="/common/sidebar.css">

        {{>font}}
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
    </body>
</html>