<div>
    <div id="account-container">
        <div id="logo">
            <h1>Whoops! Something's wrong..</h1>
        </div>
        Some reasons this page has shown up might be:
        <h4>LOGGING IN</h4>
        <ul>
            <li>Incorrect username or password.</li>
            <li>The account you're trying to access has been deleted.</li>
        </ul>
        <h4>REGISTERING</h4>
        <ul>
            <li>Mismatched passwords.</li>
            <li>Username may be taken already. Try registering with a different username.</li>
        </ul>

        <br><br>
        Go back to <br>
        <div class="nameinfo">
            <a href="/account/login" id="login-register">Login</a>
            <a href="/account/register" id="login-register">Register</a>
        </div>
        
    </div>
</div>
