<div>
    <div id="account-container">
        <div id="logo">
            <h1>Whoops! Something's wrong..</h1>
        </div>
        Some reasons this page has shown up might be:
        <ul>
            <li>Incorrect username or password when logging in.</li>
            <li>Mismatched passwords when registering.</li>
        </ul>
        <br><br>
        Go back to <br>
        <div class="nameinfo">
            <a href="/account/login" id="login-register">Login</a>
            <a href="/account/register" id="login-register">Register</a>
        </div>
        
    </div>
</div>
