{{>sidebar}}
<div id="main-content">
    <div id="back-button" onclick="history.back()">
        <img src="/svg/arrow-left.svg" class="back-button button-svg" />
    </div>
    <div class="edit-form">
        <h1 id="create-post-header">Edit post</h1>
        <label for="tags-edit">Tag</label>
        <input type="text" name="tags-edit" id="tags-edit" class="edit-form-input" value="{{post.tags}}"> </input>

        <label for="title-edit">Title</label>
        <input type="text" name="title-edit" id="title-edit" class="edit-form-input" value="{{post.title}}"> </input>
        <label for="title-edit">Description</label>
        <textarea name="description-edit" id="description-edit" class="edit-form-input">{{post.content}}</textarea>
    </div>
    <div class="edit-controls">
        <div class="submit-button">Edit</div>
        <div class="cancel-button" onclick="history.back()">Cancel</div>
    </div>
</div>