{{>sidebar}}
<div id="main-content">
    <div id="back-button" onclick="history.back()">
        <img src="/svg/arrow-left.svg" class="back-button button-svg" />
    </div>
    <form id="edit-comment-form" action="/comment/edit/{{comment._id}}" method="POST">
        <div class="edit-form">
            <h1 id="create-post-header">Edit comment</h1>
            <textarea required="true" name="comment" id="description-edit" class="edit-form-input">{{comment.comment}}</textarea>
        </div>
        <div class="edit-controls">
            <button type="submit" class="submit-button">Edit</button>
            <div class="cancel-button" onclick="history.back()">Cancel</div>
        </div>
    </form>
</div>
