<div>
    <nav id="logo">
            <h1>rabble*</h1>
    </nav>
            
    <div id="account-container">
        <h4 class="notbold">Log Into rabble*</h4>
        <form name="login-form" onsubmit="return verifyLogin()" method="get">
            <input type="text" id="sign-in" name="username" placeholder="Username"><br>
            <div class="password-container">
                <input type="password" name="password" placeholder="Password">
                <button id="togglePassword" onclick="return viewPassword()">
                    <img src="/svg/eye-closed-svgexport-1.svg" id="eye"/>
                </button>
            </div>

            <br>
            <input type="checkbox" id="remember" name="remember" value="remember"> 
            <label for="remember">Remember me for 3 weeks</label> <br>
            <input type="submit" id="login-register" value="Log In">
            <br> <br>
            <span class="account-text" style="font-size:13px">Don't have an account?</span> <br>
            <a href="/register">
                Register
            </a>
        </form>
    </div>
</div>
