<div id="main-content">
	<div id="post-container"></div>
	<div id="comments-section">
		<h2>Comments</h2>
		<div id="comment-creator">
			<input type="text" id="comment-box" placeholder="say something about the post"></input>
			<button id="comment-send">Send</button>
		</div>
	</div>
</div>