<div class="background-image-section"></div>

<div class="user-information-section"></div>

<div id="main-content"></div>


<script type="module" src="user-profile.js"></script>
<div id="copyright-info">
	<p>&copy; <span class="accent-span">rabble</span> 2025</p>
</div>