.comment {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid var(--border-light);
    border-radius: 8px;
    background-color: var(--bg-secondary);
}

.comment p {
    margin: 0.3em 0;
}

.comment-creator-container {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.comment-user {
    color: var(--fg-secondary);
    font-weight: bold;
}

.comment-date {
    color: var(--fg-tertiary);
    font-size: 0.9em;
}

.comment-controls {
    margin: 0;
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
}

.comment-controls button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25em 0.5em;
    border-radius: 100px;
    font-size: 0.9em;
    color: var(--fg-secondary);
}

.comment-controls button:hover {
    background-color: var(--bg-secondary-hover);
}

.edit-comment-button {
    color: var(--accent-dark);
}

.delete-comment-button {
    color: var(--downvote);
}

/* edit comment pop-up */
.edit-comment-popup {
    display: none; /* it's hidden by default */
    margin-top: 0.5em;
    padding: 0.5em;
    border: 1px solid var(--border-dark);
    border-radius: 8px;
    background-color: var(--bg-tertiary);
}

.edit-comment-box {
    width: 100%;
    height: 80px;
    padding: 0.5em;
    border: 1px solid var(--border-dark);
    border-radius: 8px;
    background-color: var(--bg-main);
    color: var(--fg-main);
    font-family: var(--body-font);
    resize: vertical;
    box-sizing: border-box;
}

.edit-comment-buttons {
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
    justify-content: flex-end;
}

.edit-comment-save, .edit-comment-cancel {
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--body-font);
}

.edit-comment-save {
    background-color: var(--accent-dark);
    color: var(--bg-main);
}

.edit-comment-save:hover {
    background-color: var(--accent-light);
}

.edit-comment-cancel {
    background-color: var(--downvote);
    color: var(--bg-main);
}

.edit-comment-cancel:hover {
    background-color: #b66565;
}