#main-content {
    background-color: var(--bg-main);
    align-items: flex-start;
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-light);
    box-sizing: border-box;
    padding: 2rem;
}

#title {
    font-family: var(--header-font);
    letter-spacing: -1px;
}

#back-button {
    padding: 0.5rem;
    background-color: var(--bg-secondary);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 32px;
    cursor: pointer;
    border: 1px solid var(--border-light);
    transition: 0.15s background-color, 0.15s border;
}

#back-button:hover {
    border: 1px solid var(--border-dark);
    background-color: var(--bg-secondary-hover);
    width: 1.5rem;
}

.edit-controls {
    display: flex;
    justify-content: end;
}

.edit-controls * {
    padding: 1em;
    border-radius: 100px;
    margin-left: 0.5em;
}

.submit-button {
    background-color: var(--accent-light);
    border: 1px solid var(--border-light);
    font-family: var(--header-font);
    letter-spacing: -1px;
}

.submit-button:hover {
    background-color: var(--accent-dark);
    border: 1px solid var(--border-dark);
}

.cancel-button {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-light);
    font-family: var(--header-font);
    letter-spacing: -1px;
}

.cancel-button:hover {
    background-color: var(--bg-secondary-hover);
    border: 1px solid var(--border-dark);
}

.input-section {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.input-section label {
    color: var(--fg-secondary);
}

.input-section input,
.input-section textarea {
    border: 1px solid var(--border-light);
    border-radius: 12px;
    background-color: var(--bg-secondary);
    color: var(--fg-main);
    padding: 0.5rem;
}

.input-section textarea {
    height: 70px; 
}

.btnSave-section{
    padding-top: 10px;
    height:41px;
}

.btnSave{
    border: 3px solid #b49fcc;
    border-radius: 10px;
    margin-left: 699px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.btnSave:hover{
    border: 3px solid white;
    border: 3px solid white;
    color: white;
    transition: all 0.15s;
}

#delete {
    background: var(--downvote);
    border-radius: 25px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    font: var(--body-font);
    font-size: 15px;
    border: none;
}
#delete:hover {
    background: #6c2b2b;
    transition: all 0.15s;
    color: white;
}