@import "global.css";

#logo{
    justify-self: start;
    text-align: center;
    font-family: var(--header-font);
    text-decoration: none;
    font-size: var(--title-font-size);
}
#logo-color{
    background-color: var(--accent-light);
    border-radius: 8px;
    color: var(--bg-main);
    padding: 0 0.5rem;
}
#account-container{
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto;
    width: 70vw;
    height: 100vh;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 3rem;
    background-color: var(--bg-main);
}
#remember-container{
    padding: 10px 0px;
}
.notbold{
    font-weight: normal;
    color: var(--fg-main)
}
.account-text{
    font-size:13px;
}
input{
    font-family: var(--body-font);
}
#sign-in{
    border: 2px solid var(--border-light);
    border-radius: 7px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 3px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: var(--bg-secondary);
    color: var(--fg-main);
}
#sign-in:focus{
    background-color: var(--bg-tertiary);
    color: var(--fg-main);
}
#remember{
    margin:15px 5px 15px -75px;
}
#login-register{
    border: 1px solid var(--border-light);
    border-radius: 12px;
    width: 100%;
    margin: 8px 3px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--accent-light);
    color: var(--bg-main);
    cursor: pointer;

    text-decoration: none;
}
#login-register:hover{
    background-color: var(--accent-dark);
    transition: 0.5s;
}
.nameinfo{
    width: 100%;
    display: flex;
    border: 0px solid var(--border-light);
    padding: 0px;
    margin: 8px 3px;
    box-sizing: border-box;
    font-size: 15px;
    color: var(--fg-main);
}
#error-msg{
    border: 2px solid var(--downvote);
    border-radius: 7px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 3px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: var(--downvote);
    display: none;
}
#togglePassword{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
#eye{
    width: 25px;
    height: 25px;
}
.password-container{
    display: flex;
    align-items: center;

    border: 2px solid var(--border-light);
    border-radius: 7px;
    width: 100%;
    padding: 6px 20px;
    margin: 8px 3px;
    box-sizing: border-box;
    
    background-color: var(--bg-secondary);
    color: var(--fg-main);
}
.password-container input{
    font-size: 15px;
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: var(--fg-main);
}