@import "post.css";
@import "global.css";

/* main part of site */
body {
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--bg-secondary);
}

#main-page {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
    overflow-y: auto;
    overflow-x: hidden;
}

.post:first-child {
    border-radius: 8px 8px 0 0;
    border-top: 1px solid var(--border-light);
}

.post:last-child {
    border-radius: 0 0 8px 8px;
}

#sidebar {
    padding: 0 1em;
    position: sticky;
    top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
    overflow-y: auto;
    font-family: var(--header-font);
}

#sign-in {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-sign-in {
    margin-right: 0.5em;
}

.sidebar-option {
    display: flex;
    align-items: center;
    padding: 0 1em;
    margin-bottom: 0.25em;
    border-radius: 16px;
    text-decoration: none;
    color: var(--fg-main);
    transition: 0.25s background-color;
}

.sidebar-option img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

.active-sidebar-option {
    color: var(--accent-light);
}

#home:hover, #tags:hover {
    background-color: var(--bg-main);
}

#home:active, #tags:active {
    background-color: var(--bg-secondary-hover);
}

#sort {
    padding: 0.5em 0em;
    justify-self: center;
    box-sizing: border-box;
}

#sort-button {
    padding: 0.25em 1em;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 12px;
    border: 1px solid var(--border-light);
    font-size: 0.75em;
}

#sort-button:hover,
#sort:hover #sort-button {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-dark);
    border-radius: 12px 12px 0px 0px;
}

#sort-dropdown {
    height: 1.5em;
    aspect-ratio: 1;
    padding: 0 0.5em;
}

#sort-dropdown-menu {
    display: none;
    font-size: 0.75em;
    background-color: var(--bg-secondary);
    width: fit-content;
    z-index: 1;
    position: absolute;
    border: 1px solid var(--border-dark);
    border-top: 0;
    border-radius: 0px 0px 12px 12px;
}

#sort-button:hover + #sort-dropdown-menu, #sort-dropdown-menu:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sort-dropdown-menu p:hover {
    background-color: var(--bg-secondary-hover);
}

.dropdown-option {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-option:hover {
    background-color: var(--bg-secondary-hover);
}

#sort-dropdown-menu .dropdown-option:last-child {
    border-radius: 0px 0px 12px 12px;
}

@media only screen and (max-width: 1279px) {
    #sidebar {
        display: none;
    }
}