#main-content {
    justify-self: center;
    padding: 2rem;
    width: 70vw;
    height: 100vh;
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-light);
    box-sizing: border-box;
    overflow-wrap: break-word;
    background-color: var(--bg-main);
}

@media only screen and (max-width: 1279px) {
    #main-content {
        width: 100vw;
        margin-bottom: var(--nav-height);
    }
}

#back-button {
    padding: 0.5rem;
    background-color: var(--bg-secondary);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 32px;
    cursor: pointer;
    border: 1px solid var(--border-light);
    transition: 0.25s background-color, 0.25s border;
}

#back-button:hover {
    border: 1px solid var(--border-dark);
    background-color: var(--bg-secondary-hover);
    width: 1.5rem;
}

#post-header {
    font-size: 1.5rem;
    font-family: var(--header-font);
}

#post-container, #comments-section {
    width: 100%;
}

.post-controls-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.post-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.post-controls p {
    padding-right: 1em;
}

.post-icon {
    width: 1em;
    aspect-ratio: 1;
    margin-bottom: -2px;
    padding: 0 0.5em;
}

#post-tags {
    padding: 0;
    margin: 0;
    color: var(--fg-secondary);
    font-size: 0.9rem;
}

#post-tags li {
    display: inline;
    padding-right: 0.5rem;
}

#post-tags li:hover {
    color: var(--fg-main);
}

#post-creator, #post-date {
    color: var(--fg-tertiary);
}

#post-creator:hover {
    color: var(--fg-secondary);
}

#post-creator-link {
    text-decoration: none;
}

.post-votes {
    padding-right: 1em;
    display: flex;
    align-items: center;
    color: var(--fg-secondary);
}

.upvote-button, .downvote-button {
    display: flex;
}

.vote-counter {
    color: var(--fg-secondary);
}

.upvote-button:hover {
    color: var(--accent-light);
}

.downvote-button:hover {
    color: var(--downvote);
}

.comment-controls button {
    display: flex;
    align-items: center;
}

/* comments section */
#comments-section {
    display: flex;
    flex-direction: column;
}

#comment-creator {
    width: 100%;
    display: flex;
}

#comments-header {
    font-family: var(--header-font);
}

#comment-box {
    padding: 1rem;
    flex-grow: 1;
    border-radius: 12px 0 0 12px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-dark);
    font-family: var(--body-font);
    box-sizing: border-box;
    color: var(--fg-main);
}

#comment-send {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
    width: fit-content;
    border-radius: 0 12px 12px 0;
    background-color: var(--bg-secondary);
    color: var(--fg-main);
    border: 1px solid var(--border-light);
    font-family: var(--body-font);
    cursor: pointer;
    transition: 0.25s background-color, 0.25s border-color;
}

#comment-send:hover {
    background-color: var(--bg-secondary-hover);
}

#comment-send-button {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}