p {
    font-size: 0.9em;
}

#main-content {
    justify-self: center;
    margin-top: 2em;
    padding: 2em;
    width: 50vw;
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-light);
    box-sizing: border-box;
    overflow-wrap: break-word;
}

@media only screen and (max-width: 1279px) {
    #main-content {
        width: 100%;
    }
}

#back-button {
    padding: 0.5em;
    background-color: var(--bg-secondary);
    width: fit-content;
    aspect-ratio: 1;
    border-radius: 32px;
    cursor: pointer;
    border: 1px solid var(--border-light);
    margin-bottom: 1em;
}

#back-button:hover {
    border: 1px solid var(--border-dark);
    background-color: var(--bg-secondary-hover);
}

#back-icon {
    width: 1.5em;
    height: 1.5em;
    margin-bottom: -2px;
}

#post-header {
    font-size: 1.5em;
}

.post-controls-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.post-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.post-controls p {
    padding-right: 1em;
}

.post-icon {
    width: 1em;
    aspect-ratio: 1;
    margin-bottom: -2px;
    padding: 0 0.5em;
}

#post-tags {
    padding: 0;
    margin: 0;
    color: var(--fg-secondary);
    font-size: 0.9em;
}

#post-tags li {
    display: inline;
    padding-right: 0.5em;
}

#post-tags li:hover {
    color: var(--fg-main);
}

#post-creator, #post-date {
    color: var(--fg-tertiary);
}

#post-creator:hover {
    color: var(--fg-secondary);
}

#post-creator-link {
    text-decoration: none;
}

.post-votes {
    padding-right: 1em;
    display: flex;
    align-items: center;
    color: var(--fg-secondary);
}

.upvote-button, .downvote-button {
    display: flex;
}

.vote-counter {
    color: var(--fg-secondary);
}

.upvote-button:hover {
    color: var(--accent-light);
}

.downvote-button:hover {
    color: var(--downvote);
}

.comment-controls button {
    display: flex;
    align-items: center;
}

/* comments section */
#comments-section {
    display: flex;
    flex-direction: column;
}

#comment-creator {
    width: 100%;
}

#comment-box {
    padding: 1em;
    width: 90%;
    border-radius: 100px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-dark);
    font-family: var(--body-font);
    box-sizing: border-box;
    color: var(--fg-main);
}

#comment-send {
    padding: 1em;
    border-radius: 100px;
    background-color: var(--accent-dark);
    color: var(--bg-main);
    border: 1px solid var(--border-light);
    font-family: var(--body-font);
    cursor: pointer;
}

#comment-send:hover {
    background-color: var(--accent-light);
}