#search-description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding: 1rem 0;
}

#title {
    text-align: left;
    font-size: 1.5rem;
    margin: 0;
    font-family: var(--header-font);
    letter-spacing: -1px;
}