#sidebar {
    position: fixed;
    top: calc(var(--nav-height) + 0.5rem);
    left: 0;
    height: calc(100vh - var(--nav-height) - 1rem);
    overflow-y: auto;
    font-family: var(--header-font);
}

#sign-in {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-sign-in {
    margin-right: 0.5rem;
}

.sidebar-option {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-left: 2rem;
    border-radius: 16px;
    text-decoration: none;
    color: var(--fg-main);
    transition: 0.25s background-color;
}

.sidebar-option img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
}

.active-sidebar-option {
    color: var(--accent-light);
}

#home:hover, #tags:hover {
    background-color: var(--bg-main);
}

#home:active, #tags:active {
    background-color: var(--bg-secondary-hover);
}

#sidebar hr {
    border: 1px solid var(--border-light);
    padding: 0 1rem;
    margin-left: 2rem;
}

@media only screen and (max-width: 1279px) {
    .sidebar-option img {
        width: 2rem;
        height: 2rem;
        margin: 0;
    }

    .sidebar-option p {
        display: none;
    }

    .sidebar-option, #sidebar hr {
        margin-left: 0.5rem;
    }
}