#main-content {
    box-sizing: border-box;
    padding: 2rem;
    background-color: var(--bg-main);
    min-height: calc(100vh - var(--nav-height));
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-light);
}

#tag-description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

#tag-description h1 {
    font-family: var(--header-font);
    letter-spacing: -1px;
}

#tag-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

.tag-container {
    padding: 0.5rem;
    color: var(--bg-main);
    background-color: var(--accent-light-transparent);
    border-radius: 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.15s background-color, 0.15s transform;
}

.tag-container:hover {
    background-color: var(--accent-light);
    transform: scale(1.05);
}

.tag-container p {
    margin: 0 0.25rem;
}

.tag-name {
    font-family: var(--header-font);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.tag-count {
    color: var(--bg-tertiary);
}

@media screen and (max-width: 900px) {
    #main-content {
        padding: 0.5rem 2rem;
    }
}