@import "global.css";

body {
    overflow-y: auto;
    background-color: var(--bg-secondary);
}

#post-list, #comment-list {
    width: 100%;
    margin-bottom: 1rem;
}

#comment-list {
    display: none;
}

#profile-page-container {
    display: flex;
    justify-content: center;
    margin-left: var(--sidebar-width);
    margin-top: var(--nav-height);
}

#profile-page {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 70vw;
}

#content-selection {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

#content-selection button {
    font-size: 1.5rem;
    color: var(--fg-tertiary);
    font-family: var(--header-font);
    letter-spacing: -1px;
    background-color: transparent;
    border: none;
    transition: 0.25s color;
}

#content-selection button:hover {
    color: var(--fg-secondary);
    cursor: pointer;
}

#content-selection #posts-view-button {
    color: var(--fg-main);
}

.background-image-section {
    display: flex;
    height: 30vh;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.user-information-section {
    display: flex;
    box-sizing: content-box;
    height: fit-content;
    justify-content: center;
    padding: 1rem;
}

.profile-picture {
    margin-top: -5rem;

    width: 12rem;
    height: 12rem;
    object-fit: cover;

    border-radius: 100px;
    border: 2px solid var(--border-light);
    flex-shrink: 0;
    z-index: 100;
}

.user-informations {
    width: 720px;
    min-width: 300px;
    height: 70px;
    margin-left: 30px;
    margin-top: 5px;
}

.username-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userFLnames {
    color: var(--fg-main);
    font-weight: bold;
    font-size: 30px;
}

.username {
    font-size: 13px;
    color: var(--fg-secondary);
}

.description {
    margin-top: 0px;
    color: var(--fg-main);
}

.btnEdit {
    border: 1px solid var(--border-light);
    background-color: var(--bg-secondary);
    color: var(--fg-main);
    font-family: var(--header-font);
    border-radius: 12px;
    padding: 1rem;
    cursor: pointer;
}

.btnEdit:hover {
    background-color: var(--bg-secondary-hover);
    border: 1px solid var(--border-dark);
    transition: all 0.15s;
}

#main-content {
    margin-left: 0;
}

@media screen and (max-width: 900px) {
    #profile-page-container {
        margin-left: 0;
    }

    #profile-page {
        width: 100vw;
    }
}