@import "global.css";

body {
    overflow-y: auto;
    background-color: var(--bg-secondary);
}

#profile-page-container{
    display: flex;
    justify-content: center;
}

#profile-page{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.background-image-section{
    display: flex;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.user-information-section{
    display: flex;
    box-sizing: content-box;
    height: fit-content;
    justify-content: center;
    padding: 1em;
    border-bottom: 1px solid var(--border-light);
}

.profile-picture{
    margin-top: -5em;

    width: 12em;
    height: 12em;
    object-fit: cover;

    border-radius: 100px;
    border: 2px solid var(--border-light);
    flex-shrink: 0;
    z-index: 100;
}

.user-informations{
    width: 720px;
    min-width: 300px;
    height: 70px;
    margin-left: 30px;
    margin-top: 5px;
}

.username-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userFLnames{
    color: var(--fg-main);
    font-weight: bold;
    font-size: 30px;
}

.username{
    font-size: 13px;
    color: var(--fg-secondary);
}

.description{
    margin-top: 0px;
    color: var(--fg-main);
}

.btnEdit{
    border: 1px solid var(--border-light);
    background-color: var(--accent-dark);
    color: var(--bg-main);
    font-family: var(--body-font);
    border-radius: 100px;
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
}

.btnEdit:hover{
    background-color: var(--accent-light);
    border: 1px solid var(--border-dark);
    transition: all 0.15s;
}

@media ((min-width: 400px) and (max-width: 950px)){
    .user-information-section{
        padding-left: 50px;
        padding-right: 50px;
    }
}
