.overall-form-section {
    display: flex;
    background-color: var(--bg-main);
}

.input-section {
    display: flex;
    align-items: center; 
    gap: 10px; 
    padding: 10px; 
}

.input-section label {
    font-weight: bold;
    font-size: 16px; 
    text-align: right; 
    width: 120px; 
}

.input-section input,
.input-section textarea {
    flex: 1; 
    width: 200px; 
    height: 30px;
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--border-light);
}

.input-section textarea {
    height: 70px; 
}

.btnSave-section{
    padding-top: 10px;
    height:41px;
}

.btnSave{
    border: 3px solid var(--border-light);
    background-color: var(--accent-light);
    border-radius: 30px;
    margin-left: 699px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    font-family: var(--body-font);
}

.btnSave:hover{
    border: 3px solid var(--border-light);
    background-color: #b49fcc;
    transition: all 0.15s;
}